@keyframes fadeIn {
 0% {
   opacity: 0%;
   margin-bottom: 100vh;
  }
 100% {
   opacity: 100%;
   margin-bottom: 0px;
  }
}
body {
 background-color: black;
}
#enter {
 padding: 10px;
 border: none;
 background-color: #1a1a1a;
 border-radius: 8px;
 color: white;
 display: inline;
 margin-top: 48vh;
 margin-left: 40vw;
}
#thisisanunnecessarilylongid {
 padding: 10px;
 border: none;
 background-color: #1a1a1a;
 border-radius: 8px;
 color: white;
 display: inline;
 margin-top: 48vh;
 margin-left: 40vw;
}
